<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h1 class="logo"><a href="/">On<span>Med</span></a></h1>
                    <p>
                        OnMed một nền tảng kết nối giữa bác sĩ và bệnh nhân, giúp bệnh nhân dễ dàng đặt lịch hẹn khám bệnh.
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Truy cập nhanh</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/home/index">Trang chủ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/home/khoa">Khoa</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/home/bacsi">Bác sĩ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/home/lienhe">Liên hệ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Đặt lịch khám</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 footer-newsletter">
                    <h4>Liên hệ</h4>
                    <p>
                        <strong>Phone:</strong> 0909 0909<br>
                        <strong>Email:</strong> onmed@gmail.com<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31346.81146388534!2d106.78245439999999!3d10.8608524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e7ea103df%3A0xb6cf10bb7d719327!2sHUTECH%20University%20-%20E%20Campus%20(SHTP)!5e0!3m2!1sen!2s!4v1684834665024!5m2!1sen!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                </div>



            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>OnMed.</span></strong>
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->
