@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<main>
    <hgroup>
        <h1 class="text-danger">Tài Khoản của bạn đã bị khóa</h1>
        <h2 class="text-danger">Vui lòng thử lại sau hặc liên hệ với bộ phận quản lý để giải quyết.</h2>
    </hgroup>
</main>
