

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nhật ký</h3>
            </div>
            <div class="panel-body">
                <ul class="chat">
                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nhập tin nhắn..." id="messageInput" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="sendButton">Gửi</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


