
@{
    ViewBag.Title = "Đăng ký nghỉ phép";
    Layout = "~/Areas/Doctor/Views/Shared/_LayoutDoctor.cshtml";
}
<style>
    .casang {
        background-color: #ECECEC;
    }
    .cachieu {
        background-color: #A9A9A9;
    }
</style>

<div class="card-header py-3">
    <h4 class="m-0 font-weight-bold text-primary text-center">LỊCH LÀM VIỆC</h4>
    <hr />
</div>

<div class="noidung m-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ca</th>
                <th>THỨ 2</th>
                <th>THỨ 3</th>
                <th>THỨ 4</th>
                <th>THỨ 5</th>
                <th>THỨ 6</th>
                <th>THỨ 7</th>
                <th>CHỦ NHẬT</th>
            </tr>
        </thead>
        <tbody>
            <tr class="casang">
                <th >CA 1</th>
                <td>5 BỆNH NHÂN</td>
                <td>5 BỆNH NHÂN</td>
                <td>5 BỆNH NHÂN</td>
                <td>5 BỆNH NHÂN</td>
                <td>5 BỆNH NHÂN</td>
                <td>5 BỆNH NHÂN</td>
                <td>5 BỆNH NHÂN</td>
            </tr>
            <tr  class="casang">
                <th>CA 2</th>
                <td>5 BỆNH NHÂN</td>
                <td>5 BỆNH NHÂN</td>
                <td>5 BỆNH NHÂN</td>
                <td>5 BỆNH NHÂN</td>
                <td>5 BỆNH NHÂN</td>
                <td>5 BỆNH NHÂN</td>
                <td>5 BỆNH NHÂN</td>
            </tr>
            <tr  class="casang">
                <th>CA 3</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="cachieu">
                <th>CA 4</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="cachieu">
                <th>CA 5</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="cachieu">
                <th>CA 6</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    </div>
